<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid py-2">
        <!-- Logo/Brand -->
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('build/images/Logo.jpeg') }}" alt="Logo" class="d-inline-block align-top logo">
        </a>
        <!-- Bouton hamburger -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Contenu de la navbar -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Formulaire de recherche -->
            {% if searchForm is defined %}
                {{ form_start(searchForm, {'attr': {'class': 'my-2 my-lg-0 col-12 col-lg-4 mx-lg-auto'}}) }}
                    <div class="input-group">
                        {{ form_widget(searchForm.search_type, {'attr': {'class': 'form-select'}}) }}
                        {{ form_widget(searchForm.query, {'attr': {'class': 'form-control'}}) }}
                        <button class="btn btn-primary">Rechercher</button>
                    </div>
                {{ form_end(searchForm) }}
            {% endif %}
                <a class="nav-link" href="{{ path('public_articles') }}">
                    <i class="fas fa-shopping-bag"></i> Articles
                </a>
            <ul class="navbar-nav ms-auto">
            {% if app.user %}
                <a class="nav-link" href="{{ path('user_profile') }}">Mon Profil</a>
                <a class="nav-link" href="{{ path('cart_show') }}">Mon Panier</a>
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                <a class="nav-link" href="{{ path('app_register') }}">Inscrivez-vous</a>
            {% endif %}
            </ul>
         </div>
    </div>
</nav>